<h1 style="color:#800000;">Welcome to the Library </h1>
<h3><%= link_to 'Books', books_path%></h3>
<h3><%= link_to 'About', about_path%></h3>
<h3><%= link_to 'SignUp', signup_path%></h3>
<h3><%= link_to 'Login', login_path%></h3>
<h3><%= link_to 'LogOut', logout_path%></h3>
